* {box-sizing: border-box;}

/* Set width of product tile to allow for horizontal floating of tiles, set min-width to control wrapping */
.product-tile {
  width: 20%;
  min-width: 230px;
  padding: 1rem;
}

/* Link text is black with no underline */
a {
  color: black;
  text-decoration: none;
}

/* All text uses Open Sans font */
p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1rem;
}
 
/* Center the product photo within the product tile */
.product-photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

/* Size the customer raiting stars, align them within the product tile */
.customer-rating img {
  width: 14px;
  height: 14px;
}

.customer-rating li {
  float: left;
  list-style: none;
  padding-bottom: 1rem;
}

/* Clear float and set font weight on product decription */
.product-description {
  clear: both;
  font-weight: 600;
}

/* Create a "button" for the Compare link */
.product-compare {
  border: 1px solid black;
  padding: .5rem;
  text-align: center;
  width: 100px;
  font-weight: 600;
}


  